profiler/src/Demos/WcfService/Client/Connected Services/Demos.WcfService/Datadog.Demos.WcfService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Datadog.Demos.WcfService" elementFormDefault="qualified" targetNamespace="Datadog.Demos.WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Datadog.Demos.WcfService.Library" />
  <xs:element name="GenerateRandomAsciiString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="length" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateRandomAsciiStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerateRandomAsciiStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComputeStableHash">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComputeStableHashResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ComputeStableHashResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateRandomAsciiStringWithHash">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="length" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateRandomAsciiStringWithHashResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Datadog.Demos.WcfService.Library" minOccurs="0" name="GenerateRandomAsciiStringWithHashResult" nillable="true" type="q1:StringInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>