profiler/src/Demos/WcfService/Client/Connected Services/Demos.WcfService/Datadog.Demos.WcfService.Library.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Datadog.Demos.WcfService.Library" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Datadog.Demos.WcfService.Library" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StringInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="HashCode" type="xs:int" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StringInfo" nillable="true" type="tns:StringInfo" />
</xs:schema>