profiler/src/Demos/WcfService/Client/Connected Services/Demos.WcfService/Datadog.Demos.WcfService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="Datadog.Demos.WcfService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Datadog.Demos.WcfService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="Datadog.Demos.WcfService/Imports">
      <xsd:import namespace="Datadog.Demos.WcfService" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Datadog.Demos.WcfService.Library" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStringProvider_GenerateRandomAsciiString_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateRandomAsciiString" />
  </wsdl:message>
  <wsdl:message name="IStringProvider_GenerateRandomAsciiString_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateRandomAsciiStringResponse" />
  </wsdl:message>
  <wsdl:message name="IStringProvider_ComputeStableHash_InputMessage">
    <wsdl:part name="parameters" element="tns:ComputeStableHash" />
  </wsdl:message>
  <wsdl:message name="IStringProvider_ComputeStableHash_OutputMessage">
    <wsdl:part name="parameters" element="tns:ComputeStableHashResponse" />
  </wsdl:message>
  <wsdl:message name="IStringProvider_GenerateRandomAsciiStringWithHash_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateRandomAsciiStringWithHash" />
  </wsdl:message>
  <wsdl:message name="IStringProvider_GenerateRandomAsciiStringWithHash_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateRandomAsciiStringWithHashResponse" />
  </wsdl:message>
  <wsdl:portType name="IStringProvider">
    <wsdl:operation name="GenerateRandomAsciiString">
      <wsdl:input wsaw:Action="Datadog.Demos.WcfService/IStringProvider/GenerateRandomAsciiString" message="tns:IStringProvider_GenerateRandomAsciiString_InputMessage" />
      <wsdl:output wsaw:Action="Datadog.Demos.WcfService/IStringProvider/GenerateRandomAsciiStringResponse" message="tns:IStringProvider_GenerateRandomAsciiString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ComputeStableHash">
      <wsdl:input wsaw:Action="Datadog.Demos.WcfService/IStringProvider/ComputeStableHash" message="tns:IStringProvider_ComputeStableHash_InputMessage" />
      <wsdl:output wsaw:Action="Datadog.Demos.WcfService/IStringProvider/ComputeStableHashResponse" message="tns:IStringProvider_ComputeStableHash_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateRandomAsciiStringWithHash">
      <wsdl:input wsaw:Action="Datadog.Demos.WcfService/IStringProvider/GenerateRandomAsciiStringWithHash" message="tns:IStringProvider_GenerateRandomAsciiStringWithHash_InputMessage" />
      <wsdl:output wsaw:Action="Datadog.Demos.WcfService/IStringProvider/GenerateRandomAsciiStringWithHashResponse" message="tns:IStringProvider_GenerateRandomAsciiStringWithHash_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>